.mpre {
  font-family: monospace;
  white-space: pre;
}

.hlit {
  background-color: #331;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.warning {
  background-color: #300;
}

body {
  background-color: black;
  color: gray;
}
span.hl_char { color: orange; }
span.hl_string { color: red; }
span.hl_num { color: blue; }
span.hl_varname { color: green; }
span.hl_specname { color: purple; }
span.hl_visible { color: white; }
